{% extends "base.html" %}

{% block jumbo %}
{% endblock jumbo %}
{% block main %}
<h1>No moron moro, tämä on template count-home.html </h1>
<!--<a href="{% url 'about' %}" class="button">About this page</a><br>-->
<form action="{% url 'about' %}"><input type="submit" value="About"></form>

<h3>{{ greeting }}</h3>

<form action="{% url 'name_res_count' %}">
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br>
    <input type="submit" value="Count!"/>
</form>
</body>
{% endblock main %}